{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container" style="padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-12 text-center">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><h4>PRIVACY STATEMENT</h4></div>
                        </div>


                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">

                            <div class=" mt25 mt-5">
                                <p>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</p>
                                <div class="container">
                                    <span >
                                        When you purchase something from our store, as part of the buying and
                                        selling process, we collect the personal information you give us such as
                                        your name, address and email address.
                                    </span>
                                    <br><br>
                                    <span>
                                        When you browse our store, we also automatically receive your
                                        computer&rsquo;s internet protocol (IP) address in order to provide us
                                        with information that helps us learn about your browser and operating
                                        system.
                                    </span>
                                    <br><br>
                                    <span >
                                        Email marketing (if applicable): With your permission, we may send you
                                        emails about our store, new products and other updates.
                                    </span>
                                </div>
                            </div>

                            <div class=" mt25 mt-4">
                                <p>SECTION 2 - CONSENT</p>
                                <div class="container">
                                    <span >
                                        How do you get my consent?
                                    </span>
                                    <br><br>
                                    <div class="container">
                                        <span>
                                            When you provide us with personal information to complete a
                                            transaction, verify your credit card, place an order, arrange for a
                                            delivery or return a purchase, we imply that you consent to our
                                            collecting it and using it for that specific reason only.
                                        </span><br><br>
                                        <span>
                                            If we ask for your personal information for a secondary reason, like
                                            marketing, we will either ask you directly for your expressed consent,
                                            or provide you with an opportunity to say no.
                                        </span>
                                    </div><br>
                                     <span>
                                        How do I withdraw my consent?
                                    </span><br><br>
                                    <div class="container">
                                          <span>
                                              If after you opt-in, you change your mind, you may withdraw your
                                            consent for us to contact you, for the continued collection, use or
                                            disclosure of your information, at anytime,
                                          </span>
                                        <span> mailing us at: </span>
                                        <span class="c5"><a href="mailto:gadmaxsolutions@gmail.com">gadmaxsolutions@gmail.com</a></span>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>SECTION 3 - DISCLOSURE</p>
                                <div class="container">
                                    <span >
                                        We may disclose your personal information if we are required by law to
                                        do so or if you violate our Terms of Service.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-4">
                                <p>SECTION 4 - PAYMENT</p>
                                <div class="container">
                                    <span >
                                        We use Razorpay for processing payments. We/Razorpay do not store your
                                        card data on their servers. The data is encrypted through the Payment
                                        Card Industry Data Security Standard (PCI-DSS) when processing payment.
                                        Your purchase transaction data is only used as long as is necessary to
                                        complete your purchase transaction. After that is complete, your
                                        purchase transaction information is not saved.
                                    </span><br><br>
                                    <span >
                                        Our payment gateway adheres to the standards set by PCI-DSS as managed
                                        by the PCI Security Standards Council, which is a joint effort of brands
                                        like Visa, MasterCard, American Express and Discover.
                                    </span><br><br>
                                    <span >
                                        PCI-DSS requirements help ensure the secure handling of credit card
                                        information by our store and its service providers.
                                    </span><br><br>
                                    <span >
                                        For more insight, you may also want to read terms and conditions of
                                        razorpay on
                                    </span><br>
                                    <span >
                                        <a onmouseover="this.style.color='black'" onmouseout="this.style.color='blue'" style="color:blue" href="https://www.google.com/url?q=https://razorpay.com&amp;sa=D&amp;source=editors&amp;ust=1725002075757210&amp;usg=AOvVaw1ATwl1419KMF2ZU5SB7nY1">https://razorpay.com</a>
                                    </span>

                                </div>
                            </div>
                            <div class=" mt25 mt-5">
                                <p>SECTION 5 - THIRD-PARTY SERVICES</p>
                                <div class="container">
                                    <span >
                                        In general, the third-party providers used by us will only collect, use
                                        and disclose your information to the extent necessary to allow them to
                                        perform the services they provide to us.
                                    </span>
                                    <br><br>
                                    <span>
                                        However, certain third-party service providers, such as payment
                                        gateways and other payment transaction processors, have their own
                                        privacy policies in respect to the information we are required to
                                        provide to them for your purchase-related transactions.
                                    </span>
                                    <br><br>
                                    <span >
                                        For these providers, we recommend that you read their privacy policies
                                        so you can understand the manner in which your personal information will
                                        be handled by these providers.
                                    </span><br><br>
                                    <span >
                                        In particular, remember that certain providers may be located in or
                                        have facilities that are located a different jurisdiction than either
                                        you or us. So if you elect to proceed with a transaction that involves
                                        the services of a third-party service provider, then your information
                                        may become subject to the laws of the jurisdiction(s) in which that
                                        service provider or its facilities are located.
                                    </span><br><br>
                                    <span >
                                        Once you leave our store&rsquo;s website or are redirected to a
                                        third-party website or application, you are no longer governed by this
                                        Privacy Policy or our website&rsquo;s Terms of Service.
                                    </span><br><br>
                                    <span >
                                        Links
                                    </span>
                                    <div class="container">
                                    <span >
                                        When you click on links on our store, they may direct you away from our
                                        site. We are not responsible for the privacy practices of other sites
                                        and encourage you to read their privacy statements.
                                    </span>
                                </div>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>SECTION 6 - SECURITY</p>
                                <div class="container">
                                    <span >
                                        To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed..
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>SECTION 7 - COOKIES</p>
                                <div class="container">
                                    <span >
                                        We use cookies to maintain session of your user. It is not used to personally identify you on other websites.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>SECTION 8 - AGE OF CONSENT</p>
                                <div class="container">
                                    <span >
                                        By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>SECTION 9 - CHANGES TO THIS PRIVACY POLICY</p>
                                <div class="container">
                                    <span >
                                        We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                                    </span><br><br>
                                    <span >
                                        If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
                                    </span><br><br>
                                    <span >
                                        QUESTIONS AND CONTACT INFORMATION
                                    </span><br><br>
                                    <div class="container">
                                        <span>
                                            If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact by <a href="mailto:gadmaxsolutions@gmail.com">gadmaxsolutions@gmail.com</a> or by mail at Gadmaxsolutions, kumbulumoottil, Nettithozhu, Nettithozu P O, Kattapana, Kerala - 685551<br><br>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>

{% endblock %}