{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container" style="padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-12 text-center">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><h4>Refund Policy</h4></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <div class=" mt25 mt-5">
                                <p>Returns</p>
                                <div class="container">
                                    <span >
                                        Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
                                    </span>
                                    <br><br>
                                    <span>
                                        To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
                                    </span>
                                    <br><br>
                                    <span >
                                        Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
                                    </span><br>
                                    <span ><br>
                                        Additional non-returnable items.
                                    </span>
                                    <div class="container" style="padding-left:50px">
                                        <ul>
                                            <li>Gift Cards</li>
                                            <li>Downloadable software products</li>
                                            <li>Some health and personal care items</li>
                                        </ul>
                                    </div><br>
                                    <span>
                                        To complete your return, we require a receipt or proof of purchase.<br><br>
                                        Please do not send your purchase back to the manufacturer.<br><br>
                                        There are certain situations where only partial refunds are granted: (if applicable)
                                        Book with obvious signs of use<br>
                                        CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.<br>
                                        Any item not in its original condition, is damaged or missing parts for reasons not due to our error.<br>
                                        Any item that is returned more than 7 days after delivery
                                    </span>
                                </div>
                            </div>

                            <div class=" mt25 mt-4">
                                <p>Refunds (if applicable)</p>
                                <div class="container">
                                    <span >
                                        Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.<br>
                                        If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>Late or missing refunds (if applicable)</p>
                                <div class="container">
                                    <span >
                                        If you haven’t received a refund yet, first check your bank account again.
                                        <br>Then contact your credit card company, it may take some time before your refund is officially posted.
                                        <br>Next contact your bank. There is often some processing time before a refund is posted.
                                        <br>If you’ve done all of this and you still have not received your refund yet, please contact us at <a href="mailto:gadmaxsolutions@gmail.com">gadmaxsolutions@gmail.com</a>.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>Sale items (if applicable)</p>
                                <div class="container">
                                    <span >
                                        Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-4">
                                <p>Exchanges (if applicable)</p>
                                <div class="container">
                                    <span >
                                        We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at <a href="mailto:gadmaxsolutions@gmail.com">gadmaxsolutions@gmail.com</a> and send your item to: gadmaxsolutions, kumbulumoottil, Nettithozhu, Nettithozu P O, Kattapana,Kerala, India - 685551
                                    </span>
                                </div>
                            </div>
                            <div class=" mt25 mt-5">
                                <p>Gifts</p>
                                <div class="container">
                                    <span >
                                        If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
                                        <br><br>If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.
                                    </span>

                                </div>
                            </div>
                            <div class=" mt25 mt-3">
                                <p>Shipping</p>
                                <div class="container">
                                    <span >
                                        To return your product, you should mail your product to: gadmaxsolutions, kumbulumoottil, Nettithozhu, Nettithozu P O, Kattapana,Kerala, India - 685551
                                        <br><br>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                                        <br><br>Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
<!--                                        <br><br>If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.-->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>

{% endblock %}